@charset "UTF-8";
:root {
  --main-color:rgba(244, 164, 96, 0.5); }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%; }

body {
  font-family: "Roboto", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Roboto", Arial, sans-serif; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

/* шрифты */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto medium"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: local("Roboto bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-display: swap; }

.container {
  box-sizing: border-box;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }
  @media (min-width: 374.98px) {
    .container {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 100%; } }
  @media (min-width: 767.98px) {
    .container {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (min-width: 1300px) {
    .container {
      max-width: 1300px; } }

.container-fluid {
  min-width: 320px;
  max-width: 100%; }

.main-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  background-image: var(--btn-gradient);
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  box-shadow: var(--btn-shadow);
  text-shadow: var(--btn-text-shadow); }
  .main-btn:hover {
    background-image: var(--btn-gradient-hover); }
  .main-btn:active {
    box-shadow: var(--btn-shadow-active);
    background-image: var(--btn-gradient-active); }
  .main-btn:focus {
    outline: none;
    border: 2px solid var(--input-focus-border); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.promo {
  padding: 50px 0; }

.promo__recieps {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr; }
  @media (min-width: 767.98px) {
    .promo__recieps {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: -webkit-min-content repeat(3, 1fr) 20px;
      grid-template-rows: min-content repeat(3, 1fr) 20px; } }

.recieps-item {
  min-height: 100%; }

.recieps-item__img {
  height: 100%;
  width: 100%;
  position: relative; }
  .recieps-item__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover; }

.recieps-item--heading {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  grid-column: 1/-1; }
  @media (min-width: 767.98px) {
    .recieps-item--heading {
      grid-column: -1/-3; } }

.recieps-item--lg {
  display: flex;
  flex-direction: column; }
  @media (min-width: 767.98px) {
    .recieps-item--lg {
      grid-column: 1/5;
      grid-row: 1/-1; } }
  .recieps-item--lg .recieps-item__img {
    width: 100%;
    min-height: 300px; }

.recieps-item--sm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  height: 200px; }
  @media (min-width: 767.98px) {
    .recieps-item--sm {
      grid-column: -1/-3; } }
  .recieps-item--sm .recieps-item__title {
    flex: 0 1 auto; }

.start {
  height: 40vh;
  min-height: 225px;
  background: white url("../img/bread-3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0; }

.start__title {
  font-size: clamp(20px, 4vw, 40px);
  display: inline-block;
  line-height: 100%; }

.header {
  padding: 20px 0px;
  color: black; }

.header-top {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 10px; }

.header__social-wrapper {
  justify-self: start; }

.header__logo {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: sandybrown;
  justify-self: center; }

.header__login {
  justify-self: end; }

.header__nav {
  text-align: center;
  position: relative;
  width: 100%;
  background: #ffffe8;
  height: 35px; }

@media (min-width: 767.98px) {
  .header__nav-toggle {
    display: none; } }

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffe8; }
  @media (max-width: 767.98px) {
    .nav-menu {
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      flex-direction: column;
      transform: translateY(-100%);
      transition: transform 0.5s ease 0s, opacity 0.5s ease 0.2s; } }

.nav-menu--active {
  opacity: 1;
  visibility: visible;
  display: flex;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 20;
  transform: translate(0); }

.nav-menu__link {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .nav-menu__link--active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: var(--main-color); }

.social-menu {
  display: flex;
  align-items: center;
  gap: 20px; }

.social-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: coral; }

.footer {
  padding: 50px 0;
  position: relative; }
  .footer .social-menu {
    justify-self: center; }
    .footer .social-menu__link {
      fill: white; }

.footer__bgimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/bread-footer.jpg") no-repeat;
  background-size: 100%;
  z-index: -1;
  background-attachment: fixed;
  filter: brightness(0.5) contrast(0.9); }

.footer__container {
  display: grid;
  gap: 20px; }
  @media (min-width: 767.98px) {
    .footer__container {
      grid-template-columns: 1fr 2fr 1fr;
      gap: 0; } }

.footer-menu {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px; }

.footer-menu__link {
  color: white; }
